<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBook</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <!-- Header -->
        <div class="header">
            <h1>SpringBook/clientes</h1>
        </div>

        <!-- Toolbar -->
        <form th:action="@{/clientes/eliminar}" method="post">
            <div>
                <div class="form-group">
                    <button class="btn-danger">
                        <a> Eliminar por id</a>
                    </button>
                    <input type="text" name="idCliente" class="inputdel" placeholder="Id" required>
                </div>
            </div>
        </form>

        <!-- Create Form -->
        <form th:action="@{/clientes}" method="post">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" class="input" required>
                <input type="text" name="apellidos" placeholder="Apellidos" class="input" required>
                <input type="email" name="email" placeholder="Email" class="input" required>
                <input type="text" name="numTelefono" placeholder="Número de Teléfono" class="input" required>
                <input type="text" name="dni" placeholder="DNI" class="input" required>
                <button type="submit" class="btn-success">
                    Guardar
                </button>
            </div>
        </form>

        <!-- Table -->
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>email</th>
                    <th>Num Telefono</th>
                    <th>DNI</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.idCliente}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellidos}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.numTelefono}"></td>
                    <td th:text="${cliente.dni}"></td>
                    <td>
                        <a th:href="@{/clientes/editar(idCliente=${cliente.idCliente})}" class="btn-primary">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/clientes/importar}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" accept=".csv" class="inputdel" required>
                <button type="submit" class="btn-primary">Importar CSV</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>