<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBook</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <!-- Header -->
        <div class="header">
            <h1>SpringBook/libros</h1>
        </div>

        <!-- Toolbar -->
        <div class="toolbar">
            <div class="button-group">
                <button class="btn-primary">
                    Nuevo registro
                </button>
                <button class="btn-danger">
                    <a> Eliminar seleccionados</a>
                </button>
            </div>
            <div class="selection-count">2 row(s) selected</div>
        </div>

        <!-- Create Form -->
        <form th:action="@{/libros}" method="post">
            <div class="form-group">
                <input type="text" name="titulo" placeholder="Título" class="input" required>
                <input type="text" name="autor" placeholder="Autor" class="input" required>
                <input type="number" name="idAutor" placeholder="ID Autor" class="input" required>
                <input type="text" name="editorial" placeholder="Editorial" class="input">
                <input type="date" name="publicacion" placeholder="Fecha de Publicación" class="input" required>
                <input type="number" name="isbn" placeholder="ISBN" class="input" required>
                <button type="submit" class="btn-success">
                    Guardar
                </button>
            </div>
        </form>

        <!-- Table -->
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>ID_Autor</th>
                    <th>Editorial</th>
                    <th>Publicación</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="libro : ${libros}">
                    <td th:text="${libro.idLibro}"></td>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.autor}"></td>
                    <td th:text="${libro.idAutor}"></td>
                    <td th:text="${libro.editorial}"></td>
                    <td th:text="${libro.publicacion}"></td>
                    <td th:text="${libro.isbn}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>