<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBook</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <!-- Header -->
        <div class="header">
            <h1>SpringBook/prestamos</h1>
        </div>

        <!-- Toolbar -->
        <form th:action="@{/prestamos/eliminar}" method="post">
            <div>
                <div class="form-group">
                    <button class="btn-danger">
                        <a> Eliminar por id</a>
                    </button>
                    <input type="text" name="idPrestamo" class="inputdel" placeholder="Id" required>
                </div>
            </div>
        </form>

        <!-- Create Form -->
        <form th:action="@{/prestamos}" method="post">
            <div class="form-group">
                <input type="text" name="idLibro" placeholder="ID Libro" class="input" required>
                <input type="text" name="idCliente" placeholder="ID Cliente" class="input" required>
                <input type="date" name="fechaPrestamo" placeholder="Fecha de Préstamo" class="input" required>
                <input type="date" name="fechaDevolucion" placeholder="Fecha de Devolución" class="input">
                <button type="submit" class="btn-success">
                    Guardar
                </button>
            </div>
        </form>

        <!-- Table -->
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID_Libro</th>
                    <th>ID_Cliente</th>
                    <th>Fecha_Prestamo</th>
                    <th>Fecha_Devolucion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prestamo : ${prestamos}">
                    <td th:text="${prestamo.idPrestamo}"></td>
                    <td th:text="${prestamo.idLibro}"></td>
                    <td th:text="${prestamo.idCliente}"></td>
                    <td th:text="${prestamo.fechaPrestamo}"></td>
                    <td th:text="${prestamo.fechaDevolucion}"></td>
                    <td>
                        <a th:href="@{/prestamos/editar(idPrestamo=${prestamo.idPrestamo})}" class="btn-primary">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/prestamos/importar}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" accept=".csv" class="inputdel" required>
                <button type="submit" class="btn-primary">Importar CSV</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>